
html {height: 95%;}  

* html body {height: 95%;}  

body {  
min-height: 100%;  
position: relative;  
}  

.top{
	margin: 25px;
	width:95%;
	padding: auto;
}

.content{
	margin: 50px;
	padding: auto;
}

.footer {  
position: absolute;  
bottom: 0;
right: 20px;  
height: 30px;  
}  

